$color-grey-400: #9e9e9e;
$color-lightgrey-400: #cfcfcf;
$color-darkgrey-400: #707070;
$color-red-400: #ff3d00;
$color-darkred-400: #ac0800;
$color-green-400: #4caf50;
$color-purple-400: #af52d5;
$color-darkpurple-400: #4b0073;
$color-red-300: #ff5722;
$color-lightred-300: #ff7961;
$color-darkred-300: #c41c00;
